/* 字体大小 */
$font-size: 14px;
/* 边框样式颜色 */
$border-style: 1px solid #ddd;
$border-color: #ddd;
/* 字体颜色 */
$font-color1: #111;
$font-color2: #444;
$font-color3: #777;
$font-color4: #aaa;
$font-color5:#4C84FF;
$font-color6: #E92114;

/* 圆角 */
$border-radius1: 4px;
$border-radius2: 8px;

/* 背景色 */
$background-color: #F2F2F2;
$background-color2: #f2f2f3;
$background-color3: #f7f8f9;
$background-color4: #195df4;

/* 弹层遮罩背景色 */
$modal-mask: rgba(17,17,17,0.6);

/* 表格行高 */
$th-height: 48px;
$th-lineheight: 48px;
$td-lineheight: 40px;
$td-height: 40px;